<!DOCTYPE html>
	<h1>StaticPages#accessories</h1>
	<p>Find me in app/views/static_pages/accessories.html.erb</p>
	<p>There are 2 options in accessories given as follows:
	1. Bookmarks
	2. Journals,Notebooks and Planners</p>
</html>